/* HEADER & FOOTER STYLING */

header,
footer {
  background-color: #6a7b8b;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  line-height: 21px;
}

header {
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 12px;
  min-height: 70px;
  letter-spacing: 1px;
}

header nav {
  margin: 0 30px;
}

header nav li {
  display: inline;
  padding: 0 10px;
}

header nav li a {
  color: #fff;
}

header nav li .active {
  color: #bbc2c9;
}

header > nav,
header > div {
  margin-top: 10px;
  margin-bottom: 10px;
}

footer {
  font-family: "Avenir Next", sans-serif;
  font-size: 12px;
  font-weight: normal;
}

footer .footer-logo {
  display: none;
  margin-left: 30px;
  position: absolute; /* This properly horizontally centres the footer socials by taking the footer logo out of the structure */
}

footer .socials {
  text-align: center;
  padding: 20px 0;
  display: block;
  margin: 0 auto;
}

footer .social-blurb {
  font-size: 14px;
  margin: 0 0 12px;
}

footer .social-icons img {
  margin: 0 12px;
}

@media only screen and (min-width: 568px) {
  header .header-logo,
  footer img.footer-logo {
    display: inline;
    margin-left: 30px;
  }

  header {
    justify-content: space-between;
  }

  header > div,
  header > nav {
    margin-top: 0;
    margin-bottom: 0;
  }
}