/* SELF-HOSTED FONTS */

@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/AvenirNext-Medium.woff") format("woff"),
    url("/fonts/AvenirNext-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/AvenirNext-Bold.woff") format("woff"),
    url("/fonts/AvenirNext-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

/* GLOBAL STYLING */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
}

/* TYPOGRAPHY */

p {
  color: #5c5b5b;
  font-family: "Avenir Next", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5em;
  margin: 20px 0;
}

p.no-margin-bottom {
  margin-bottom: 0;
}

p.no-margin-bottom + p {
  margin-top: 0;
}

h1 {
  color: #5c5b5b;
  font-family: "Avenir Next", sans-serif;
  font-size: 33px;
  font-weight: bold;
  line-height: 1.4em;
  padding: 50px 0;
  text-transform: uppercase;
  text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.5);
}

h2 {
  color: #5c5b5b;
  font-family: "Avenir Next", sans-serif;
  font-size: 33px;
  font-weight: bold;
  line-height: 1.4em;
  padding: 50px 0;
}

h3 {
  color: #5c5b5b;
  font-family: "Avenir Next", sans-serif;
  font-size: 33px;
  font-weight: normal;
  line-height: 1.4em;
  padding: 50px 0 0;
}

h4 {
  color: #5c5b5b;
  font-family: "Avenir Next", sans-serif;
  font-size: 18px;
  line-height: 1.4em;
  padding: 0;
  text-shadow: -1px 0 3px rgba(0, 0, 0, 0.3);
}

h5 {
  color: #5c5b5b;
  font-family: "Avenir Next", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.4em;
  padding: 50px 0;
}

a {
  text-decoration: none;
  color: #6a7b8b;
}

button {
  background-color: #6a7b8b;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.4);
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 50px;
}

.white-text,
.white-text * {
  color: #fff;
}

.center,
.center * {
  text-align: center;
}

.emphasis {
  font-size: 1.5em;
}

/* SPACING & LAYOUT */

main {
  width: 90%;
  max-width: 960px;
  margin: 0 auto 60px;
}

img.center,
.center img {
  display: block;
  margin: 0 auto;
}

.small-width {
  width: 70%;
  max-width: 800px;
  margin: 0 auto;
}

.xsmall-width {
  width: 50%;
  max-width: 600px;
  margin: 0 auto;
}

.columns > img:first-child {
  margin-top: 20px;
}

.columns h3:first-child {
  padding-top: 5px;
  padding-bottom: 20px;
}

@media only screen and (min-width: 769px) {
  .columns {
    display: flex;
    margin: 10px 0 40px;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .columns > *:not(:last-child),
  .reverse > *:not(:first-child) {
    margin-right: 5%;
  }

  .reverse > *:first-child {
    margin-right: 0;
  }

  .columns-equal3 > * {
    width: 30%;
  }

  .columns-third > :first-child {
    width: 40%;
  }

  .columns-third div:nth-child(2) {
    width: 50%;
  }

  .columns > img {
    object-fit: cover;
  }

  .columns > img:first-child {
    margin-top: 0;
  }

  .columns-third:nth-child(2) > div {
    margin-top: 30px;
  }
}



.map {
  margin: 40px 0 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #bababa;
  width: 100%;
}

.full-width-button {
  display: block;
  margin: 0 auto;
}

/* HEADER & FOOTER STYLING */

header,
footer {
  background-color: #6a7b8b;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  line-height: 21px;
}

header {
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 12px;
  min-height: 70px;
  letter-spacing: 1px;
}

header nav {
  margin: 0 30px;
}

header nav li {
  display: inline;
  padding: 0 10px;
}

header nav li a {
  color: #fff;
}

header nav li .active {
  color: #bbc2c9;
}

header > nav,
header > div {
  margin-top: 10px;
  margin-bottom: 10px;
}

footer {
  font-family: "Avenir Next", sans-serif;
  font-size: 12px;
  font-weight: normal;
}

footer .footer-logo {
  display: none;
  margin-left: 30px;
  position: absolute; /* This properly horizontally centres the footer socials by taking the footer logo out of the structure */
}

footer .socials {
  text-align: center;
  padding: 20px 0;
  display: block;
  margin: 0 auto;
}

footer .social-blurb {
  font-size: 14px;
  margin: 0 0 12px;
}

footer .social-icons img {
  margin: 0 12px;
}

@media only screen and (min-width: 568px) {
  header .header-logo,
  footer img.footer-logo {
    display: inline;
    margin-left: 30px;
  }

  header {
    justify-content: space-between;
  }

  header > div,
  header > nav {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/* HOMEPAGE STYLING */

.logo-and-hero .hero-image {
  background-image: url("/assets/mr-coffee-salle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 689px;
  padding: 20px;
}

.info-cards .card {
  background-color: #bbc2c9;
  padding: 40px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.4);
  margin-bottom: 40px;
}

.info-cards .card * {
  margin-top: 10px;
  margin-bottom: 10px;
}

.info-cards .card p {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.3em;
  margin-top: 20px;
}

@media only screen and (min-width: 769px) {
  .info-cards .card p {
    font-size: 14px;
  }
}

.program-title {
  margin: 20px 0;
}

.program-title * {
  display: inline;
  padding: 0 10px 0;
}

.program-title h5 {
  position: relative;
  top: -12px;
}

.program-info div {
  padding: 40px;
}

.program-info div p:nth-child(2) {
  margin: 0 0 40px;
}

/* ABOUT PAGE STYLING */

.about {
  justify-content: space-between;
}

.about img {
  width: 100%;
}

@media only screen and (min-width: 769px) {
  .about.columns:not(:last-child) {
    margin-bottom: 80px;
  }
}
